@import "tailwindcss";

:root {
  --background: #FAF9F6;
  --foreground: #1e293b;
  --primary: #14789C;
  --primary-hover: #0f5e7a;
  --primary-light: #e8f4f8;
  --secondary: #F9DDAF;
  --secondary-hover: #f3ce92;
  --secondary-text: #784d12;
  --tertiary: #FAF9F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-text: var(--secondary-text);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
